* {
    box-sizing: border-box;
    /* width: 100%;
    border: solid orangered 12px;
    padding: 5px; */
}

body {
    font-family: "fantasy";
    color:darkslateblue;
    line-height: 1.3;
    font-size: 18px;
    background-color:darkgrey;
}

h1,
h2,
h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.4;
}

main {
    width: 95%;
    margin: 35px auto;
}

.btn {
    text-decoration: none;
    width: 14%;
    display: block;
    border-radius: 8px;
    color: rgb(209, 209, 209);
    font-weight: 700;
    margin-top: 10px;
    
    background-color: rgb(53, 98, 221);
    box-shadow: 2px 2px rgb(39, 39, 39);

}

.container {
    position: relative;
    left: -20px;
   top: -30px;
    text-align: left;
    padding: 3% 5%;
    color: rgb(46, 46, 46);
    background-color: rgb(210, 181, 238);
    width: 100%;
}

#header-undertext {
    max-width: 65%;
    /* text-align: ; */
    margin-left: 10px;
    align-items: top;
    position: relative;
    top: -80px;
    left: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#search-form {
    position: relative;
    top: -24px;
    border-radius: 25px;
}



.listed-map {
    padding: 0;
    list-style: none;
}




